<div class="card-content">
       <div class="card-img">
           <img src="https://placeimg.com/380/230/nature" alt="imagen naturaleza">
           <span><h4>{{position}}</h4></span> <!-- posicion de la imgen se define en el componente destinoviaje componente-->
       </div>
       <div class="card-desc">
           <h3>{{destino.nombre}}</h3>
           <p>Servicios</p>
           <ul>
               <li *ngFor = "let s of destino.servicios">  <!--se recorre el arreglo servicios se guardaen cada s -->
                   <span [ngSwitch]="s"> <!-- directiva ngswitch  como el switch case. jajajja-->
                    <i *ngSwitchCase = "'desayuno'" style="color: green;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                   </span>
               </li>
           </ul>
               <a href="#" class="btn-card" (click)="ir()">Ir!</a> <!-- cuando clikea me llama la fun ir()-->
               <span *ngIf = "destino.isSelected()">
                   <span ngNonBindable>{{Preferido}}</span> <!--ngNonBindable significa que desliga de componente typscritp -->
               </span>
               <!--<span [style.display]= "destino.isSelected() ? '' : 'none'">- Preferido -</span> -->
               <!-- display none no muestra nada "es typescript"-->
               <a [routerLink] = "['/destino']">ver detalle</a>
       </div>
</div>
